*{
	margin: 0;
	padding: 0;
}
#container{
	position: fixed;
	width: 100%;
	text-align: center;
}
#banner{
	width: 100%;
	height: 4rem;
	padding-top: 2rem;
	border-bottom: 1px solid #807d7d;
	background-color: #fafafb;
}
#wrapper{
	position: relative;
	top: 1rem;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	align-items: center;
}
#wrapper #main{
	width: 270px;
	height: 270px;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
}
.grid-row{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
}
.grid{
	margin: 8px;
	width: 70px;
	height: 70px;
}
.grid .circle{
	width: 100%;
	height: 100%;
	border-radius: 45px;
	border: 1px solid #9e9393;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
}
.grid .circle .circle-center{
	
}
#info{
	margin: 20px 0;
}
#radio-group{
	width: 100%;
}
#radio-group ul{
	list-style: none;
	font-size: 1.2rem;
	font-weight: bold;
}
